body {
  height: 150px;
  width: 300px;
  font-family: "Roboto", sans-serif;
  font-size: 14pt;
  line-height: 1.6;
  color: #333;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  font-weight: 700;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  width: 100%;
}

.textin {
  font-size: 10pt;
  padding: 5px;
  border-radius: 7px;
  border-style: solid;
  border-color: cornflowerblue;
  border-width: 2px;
  transition: border-color 0.15s;
}

.textin:focus {
  outline: none;
  border-color: #0078d7;
}

.button {
  font-size: 10pt;
  padding: 5px;
  border-radius: 7px;
  border-style: solid;
  border-color: cornflowerblue;
  border-width: 2px;
  background-color: cornflowerblue;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.button:hover:enabled {
  background-color: #0078d7;
  border-color: #0078d7;
}

.button:active:enabled {
  background-color: #0056b3;
  border-color: #0056b3;
}

.button:disabled {
  opacity: 30%;
}

#message {
  display: none;
  color: red;
  padding: 5px;
  font-size: 11pt;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
}